@using AuctionSite.Models.Entities;
@using Microsoft.AspNetCore.Http;
@model Item
@{
    ViewData["Title"] = "Item Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentPrice = Model.HasBid ? Model.TopBid.Price : Model.OriginalBid;
}

@if (Model == null)
{
    <div class="well">
        <h2>There are no registered items, yet.</h2>
    </div>
}
else
{
    <div class="well">
        <h2>Item Details:</h2>
    </div>
    <div class="row">
        <div class="well">
            <h3>@Model.Name</h3> <br />
            @if (ViewBag.CurrentUserId != null)
            {
                <div class="details itemStatus">
                    @if (Model.HasBid && Model.TopBid.UserId == ViewBag.CurrentUserId)
                    {<span class="label label-success">You have the Top bid.</span> }
                    else
                    { <span class="label label-danger">You're not lead the bid </span> }
                    &nbsp;
                    @if (Model.ClosedAt > DateTime.Now)
                    {<span class="label label-success">Active</span> }
                    else
                    {<span class="label label-danger">Expired</span> }
                </div>
            }
            <br />
            <div class="well picture">
                <a href="@Url.Action("Image", new { itemId = Model.Id })" target="_blank">
                    <img alt="Item's picture'" src="@Url.Action("Image", new { itemId = Model.Id })" class="contentImage" />
                </a>
            </div>
            <br />
            <!-- Picture: @Model.Picture <br />-->
            Description: @Model.Description <br />
            Closed at: @Model.ClosedAt <br />
            Created at: @Model.CreatedAt <br />
            Base Price: @Model.OriginalBid &nbsp; @Model.Currency <br />
            Current Price: @currentPrice &nbsp; @Model.Currency <br />
</div>

        @if (Context.Session.GetString("user") != null)
        {
            <div class="well bid">
                <a class="btn btn-info itemBid" asp-controller="Bid" asp-action="Create" asp-route-itemIdInt="@Model.Id">Bid</a>
            </div>
        }

        <label>Bid history: </label> <br />
        <table class="table table-bordered table-hover"> 
            <thead>
                <tr>
                    <th title="Identifier">#</th> 
                    <th>Bid price</th> 
                    <th>Username</th> 
                    <th>Bid at</th> 
               </tr> 
            </thead> 
            <tbody>
                @foreach (Bid bid in Model.BidHistory)
                {
                    <tr>
                        <th scope="row">@bid.Id</th>
                        <td>@bid.Price</td>
                        <td>@bid.User.Username</td>
                        <td>@bid.CreatedAt</td>
                    </tr>
                }
            </tbody>
        </table>

        @if (Context.Session.GetString("user") != null)
        {
            <div class="well bid">
                <a class="btn btn-info itemBid" asp-controller="Bid" asp-action="Create" asp-route-itemIdInt="@Model.Id">Bid</a>
            </div>
        }
    </div>
}
